#exerciseContainer{
    display: flex;
}
#exerciseContainer>section{
    min-height:90vh;
}
#exerciseContainer>#muscleInfo{
    width: 70%;
}
#exerciseContainer>#muscleImages{
    width: 30%;
    padding: 0px;
}
#exerciseContainer>#muscleInfo{
    padding: 20px;
}
#pageIntro{
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color2);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#pageIntro h1{
    font: 500 var(--font-size-B) var(--font1);
}
#funcButtons{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    align-items: center;
}
#funcButtons button{
    display:grid;
    place-items: center;
    font-size: var(--font-size-B);
    transition: color .2s ease-in-out;
}
#funcButtons button:is(:hover ,:focus){
    color: var(--color4);
}
#muscleInfo h2{
    font-size: var(--font-size-M);
    width: fit-content;
    border-bottom: 1px solid var(--color2);
}
#muscleInfo li{
    font-size: calc(var(--font-size-S) + 5px);
}
#muscleInfo ul{
    padding-left: 30px;
}
#muscleInfo >div:not(#backLink){
    padding: 20px 0;
}
#muscleInfo >div>h2{
    margin-bottom:10px;
}
#muscleImages{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#muscleImages>#imageScroller{
    min-width: 100%;
    aspect-ratio: 1 / 1.1;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
#muscleImages>#imageScroller>div{
    min-width:100%;
    aspect-ratio: 1/1;
    scroll-snap-align: start;
}
#muscleImages>#imageScroller>div>p{
    width:100%;
    height: 10%;
    text-align: center;
    font-size: var(--font-size-M);
}
#muscleImages>#imageScroller::-webkit-scrollbar{
    display: none;
}
#muscleImages>#imageScroller>div>img{
    width: 100%;
    aspect-ratio: 1 / 1;
}
#muscleImages>#imageScroller>div>.loadingMuscleImg{
    min-width:100%;
    max-width:100%;
    aspect-ratio: 1/1;
    scroll-snap-align: start;
    opacity: 0.5;
}
#muscleImages>#squares{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#squares>span{
    width:4%;
    aspect-ratio: 1/1;
    border:2px solid var(--color2);
    cursor: pointer;
}
#muscleImages iframe{
    border: none;
    width: 100%;
    aspect-ratio: 3/2;
}
#backLink{
    display: flex;
    align-items: center;
    width: fit-content;
}
#backLink *{
    font-family: var(--font1);
    font-size: var(--font-size-M);
    cursor: pointer;
    width: fit-content;
}
#backLink p{
    z-index: 2;
    background-color: #050505;
}
#backLink svg{
    z-index: 1;
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}
#backLink:is(:hover ,:focus)>svg{
    transform: translateX(0%);
}