#searchSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--shade1);
}
#searchSection>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
#searchSection input{
    padding: 0 0 0 10px;
    width: 90%;
    height: 100%;
    border: 2px solid var(--color4);
    background-color: var(--color1);
    font-size: var(--font-size-S);
}
#searchSection button{
    width: 10%;
    height: 100%;
}
#musclesForm{
    position: relative;
    display:flex ;
    width: 50%;
    height: 30px;
}
#musclesForm button{
    border-radius: 20px 0 0 20px;
}
#musclesForm input{
    border-radius:0 20px 20px 0;
    cursor: pointer;
}
#musclesContainer{
    min-width: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    left: 0px;
    background-color: var(--color1);
    border-radius: 7px;
    max-height: 40vh;
    overflow-y: scroll;
}
#musclesContainer p{
    border-bottom:2px solid var(--color3) ;
    padding:3px 5px;
}
#musclesContainer p:hover{
    background-color: var(--color2);
}
#musclesForm input:is(:focus)+#musclesContainer{
    display: flex;
}
#musclesContainer:hover{
    display: flex;
}
#nameForm{
    position: relative;
    display:flex ;
    width: 50%;
    height: 30px;
}
#nameForm input{
    border-radius: 20px 0 0 20px;
}
#nameForm button{
    border-radius: 0 20px 20px 0;
    background-color: var(--color2);
}
#resultsSection{
    min-height:80vh ;
}
#resultsSection #intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
}
#resultsSection #intro *{
    text-align: center;
}
#resultsContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 20px;
    min-height: 70vh;
    position: relative;
}
#resultsContainer>img{
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    opacity: 0.1;
    margin: auto;
}
.exerciseGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.exerciseInfo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.loadingMuscleImg{
    width: 10%;
    aspect-ratio: 1/1;
    background-color: var(--shade2);
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.loadingMuscleImg::after{
    content: '';
    position: absolute;
    top:50%;
    bottom:50%;
    height: 20%;
    width: 300%;
    background-color:var(--color4);
    filter: blur(10px);
    animation: loader 1.5s  linear infinite;
}
@keyframes loader {
    0%{
        transform:rotate(45deg) translateY(1400%);
    }
    100%{
        transform:rotate(45deg) translateY(-600%);
    }
}
.exerciseInfo>img{
    width: 10%;
    border-radius: 10px;
}
.exerciseInfo>p{
    font-size: var(--font-size-B);
}
.exerciseInfo>p>span{
    font-family: var(--font1);
    font-weight:700;
}