#searchSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
#searchSection>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
#searchSection input{
    padding: 0 0 0 10px;
    width: 90%;
    height: 100%;
    border: 2px solid var(--color4);
    background-color: var(--color1);
    font-size: var(--font-size-S);
}
#searchSection button{
    width: 10%;
    height: 100%;
}
#musclesForm{
    position: relative;
    display:flex ;
    width: 50%;
    height: 30px;
}
#OR{
    font-size: var(--font-size-M);
}
#musclesForm button{
    border-radius: 20px 0 0 20px;
}
#musclesForm input{
    border-radius:0 20px 20px 0;
    cursor: pointer;
}
#musclesContainer{
    min-width: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    left: 0px;
    background-color: var(--color1);
    border-radius: 7px;
    max-height: 40vh;
    overflow-y: scroll;
    z-index: 9;
}
#musclesContainer p{
    border-bottom:2px solid var(--color3) ;
    padding:3px 5px;
}
#musclesContainer p:hover{
    background-color: var(--color2);
}
#musclesForm input:is(:focus)+#musclesContainer{
    display: flex;
}
#musclesContainer:hover{
    display: flex;
}
#nameForm{
    position: relative;
    display:flex ;
    width: 50%;
    height: 30px;
}
#nameForm input{
    border-radius: 20px 0 0 20px;
}
#nameForm button{
    border-radius: 0 20px 20px 0;
    background-color: var(--color2);
}
#resultsSection{
    min-height:80vh ;
}
#resultsSection #intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
}
#resultsSection #intro *{
    text-align: center;
}
#resultsSection #intro h2 {
    padding: 0 20px;
    font-size: var(--font-size-B);
}
#resultsContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 20px;
    min-height: 70vh;
    position: relative;
    padding-bottom: 60px;
}
#resultsContainer>img{
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    opacity: 0.1;
    margin: auto;
}
#resultsContainer>button{
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    width: 80%;
    transform: translate(-50% ,-50%);
    padding: 5px 20px;
    font-size: var(--font-size-M);
    margin: auto;
    border: 2px solid var(--color4);
    border-radius: 20px;
    transition: border .2s ease-in-out;
}
#resultsContainer>button>span{
    transition: color .2s ease-in-out;
}
#resultsContainer>button:is(:hover ,:focus){
    border-color:var(--color3);
}
#resultsContainer>button:is(:hover ,:focus)>span{
    color: var(--color4);
}
.exerciseGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.exerciseInfo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.exerciseInfo .loadingMuscleImg{
    min-width: 10%;
    max-width: 10%;
}
.loadingMuscleImg{
    aspect-ratio: 1/1;
    background-color: var(--shade2);
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.loadingMuscleImg::after{
    content: '';
    position: absolute;
    top:50%;
    bottom:50%;
    height: 20%;
    width: 300%;
    background-color:var(--color4);
    filter: blur(10px);
    animation: loader 1.5s  linear infinite;
}
@keyframes loader {
    0%{
        transform:rotate(45deg) translateY(1400%);
    }
    100%{
        transform:rotate(45deg) translateY(-600%);
    }
}
.exerciseInfo>img{
    min-width: 10%;
    max-width: 10%;
    border-radius: 10px;
}
.exerciseInfo>p{
    font-size: var(--font-size-M);
}
.exerciseInfo>p>span{
    font-family: var(--font1);
    font-weight:700;
}
.exerciseContainer{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    column-gap: 5px;
    row-gap: 10px;
}
.exercise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-image: linear-gradient(90deg ,var(--shade5)0% 10% ,var(--shade1) 50% 100%);
    border-top:2px solid var(--color4) ;
    border-bottom:2px solid var(--color4) ;
    transition: border .2s ease-in-out;
}
.exercise:is(:hover ,:focus){
    border-color: var(--color3);
}
.exercise *{
    font-size: var(--font-size-M);
}
.exercise p{
    text-align: center;
}
.exercise>img{
    width: 10%;
}
.exercise>button{
    display: grid;
    place-items: center;
}
.exercise>button>svg{
    transition: transform .2s ease-in-out;
}
.exercise>button:hover>svg{
    transform: translateX(50%);
}