#heroSection{
    min-height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    background: url(https://media.istockphoto.com/id/1135438279/photo/room-with-concrete-floor-and-smoke.jpg?b=1&s=612x612&w=0&k=20&c=Ag9O5iUwDTtqYw5JRmv-cLFdAIoEginBUNVvYyVkwHk=) no-repeat;
    background-size: cover;
}
#heroContent{
    width:45%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
#heroContent .slogan{
    font-size:var(--font-size-S) ;
    color: var(--color3);
}
#quotesContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#quoteHeader{
    font-size: var(--font-size-B);
}
#quoteHeader span{
    opacity: 0;
}
#quoteHeader span:is(.visible){
    transition: opacity .01s ease-out;
    opacity: 1;
}
#quotesContainer p{
    font-size: var(--font-size-M);
}
#heroButtonContainer{
    display: flex;
    gap: 20px;
}
#heroButtonContainer button{
    font-size: var(--font-size-S);
    padding: 5px 10px;
    position: relative;
}
#heroImage{
    height: 75vh;
    width: 50%;
}
#heroImage img{
    height: 100%;
    width: 100%;
}
.observed{
    transition: all .3s ease-out;
}
#introSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionHeader{
    font:600 var(--font-size-B) var(--font1);
    margin-bottom: 40px;
}
#introBlocks{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.introBlock{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .3s ease-out;
    transform: translateY(50%);
    opacity: 0;
}
.introBlock:nth-child(1){
    transition-delay: .1s;
}
.introBlock:nth-child(2){
    transition-delay: .2s;
}
.introBlock:nth-child(3){
    transition-delay: .3s;
}
.introBlock:is(.visible){
    transform: translateY(0%);
    opacity: 1;
}
.imageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.imageContainer svg{
    font-size:35px;
    transition: transform .3s ease-in-out;
    color: var(--color2);
}
.imageContainer svg:is(:hover ,:focus){
    transform: translateY(-5px);
}
.imageContainer h2{
    font-size: var(--font-size-M);
    transition: color .3s ease-in-out;
    font-weight: 600;
}
.imageContainer h2:is(:hover ,:focus){
    color: var(--color3);
}
.textContainer{
    font-size: var(--font-size-S);
    text-align: center;
}
.textContainer p{
    font-size: calc(var(--font-size-M) - 4px);
}
#columnsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#columnsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column{
    width: 90%;
    display: flex;
    justify-content: space-between
}
.column>div{
    transition: all .3s ease-out;
    opacity: 0;
}
.column>div:is(.visible){
    transform: translateX(0%);
    opacity: 1;
}
.column>:nth-child(odd){
    transform: translateX(-100px);
}
.column>:nth-child(even){
    transform: translateX(100px);
}
.imageSide{
    width: 40%;
    aspect-ratio: 1/1;
    height: fit-content;
    background-color: var(--shade1);
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: relative;
}
.columnImg{
    width:85%;
}
.circularSlogan{
    width: 100px;
    position: absolute;
    top: 70%;
    animation: infiniteCircleLoop 10s linear infinite;
}
.circularSlogan:nth-child(odd){
    right: 0px;
}
.circularSlogan:nth-child(even){
    left: 0px;
}
@keyframes infiniteCircleLoop {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
.textSide{
    width:48%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}
.textSide::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0px;
    width: 70px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--color3);
}
.columnNum{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 350px;
    font-family: var(--font1);
    color: var(--color2);
    opacity: 0;
    z-index: 1;
    transition: all .5s ease-in-out .5s;
}
.columnNum:is(.visible){
    opacity: .8;
}
.textSide h2{
    font: 600 var(--font-size-M) var(--font1);
    margin-bottom: 10px;
    z-index: 2;
}
.textSide p{
    font-size: calc(var(--font-size-M) - 5px);
    z-index: 2;
    line-height: 30px;
}