#profilePage{
background-color: var(--color1);
}
#profilePage section{
padding: 20px 30px;
}
#profileIntro{
    display:grid;
    grid-template-columns: .5fr 3fr 2fr .5fr;
    align-items: center;
    justify-content: center;
    min-height: 15vh;
}
#profileIntro >*{
    margin: auto;
}
#profileIntro img{
    width: 75px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}
#profileIntro #profileGlmipse{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#coronateBtn{
    display: grid;
    place-items: center;
    font-size: var(--font-size-B);
    border-radius: 10px;
    border: 1px solid var(--color3);
    padding: 5px 20px;
    transition: all .2s ease-in-out;
}
#coronateBtn:is(:hover ,:focus){
    border: 1px solid var(--color4);
    background-color: var(--shade2);
}
#profileGlmipse #headers{
    display: flex;
    align-items: center;
    gap: 30px;
}
#profileGlmipse #subHeaders>h2{
   font-size: var(--font-size-S);
   word-break: break-word;
}
#profileIntro h1{
    font: 700 var(--font-size-B) var(--font1);
}
#profileIntro p{
    font: 700 var(--font-size-M) var(--font1);
}
#profileIntro button{
    font: 700 var(--font-size-M) var(--font1);
}
#profileIntro svg{
    font-size:calc(var(--font-size-B) + 10px);
    transition: transform .2s ease-in-out;
    cursor: pointer;
}
#moreInformation{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 10px;
}
.infoContainer{
    display: flex;
    align-items: center;
    gap:10%;
    background-color: var(--shade1);
    padding: 5px 10px;
    border-radius: 10px;
}
.infoContainer *{
    font: 500 var(--font-size-M) var(--font1);
}
.infoContainer>svg{
    font-size:var(--font-size-B);
}
#calendarSection{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}
#calendarLightSettingsContainer{
    padding: 5px 20px;
    background-color: var(--shade1);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    font-size: var(--font-size-B);
    box-shadow: 1px 1px var(--shade5);
}
#calendarLightSettingsContainer:is(:hover ,:focus){
    background-color: var(--color2);
}
#lightSettings{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
#lightSettings p{
    cursor: pointer;
}
#lightSettings p:hover{
    background-color: var(--shade3);
}
#settingsLogic{min-height: 150px;
    background-color: var(--shade1);
}
.settingContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}
.settingContent h2{
    width:100%;
    text-align: center;
    font-weight: 400;
    font-size:  var(--font-size-M);
}
.settingContent>button{
    font-size: var(--font-size-M);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: var(--color2);
}
.settingContent form{
    display: flex;
    gap: 20px;
}
.settingContent form>button{
    font-size: var(--font-size-M);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: var(--color2);
}
.settingContent form>input{
    font-size: var(--font-size-M);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: var(--shade2);
    border-color: var(--color4);
}
#settingsOptions{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color:var(--shade2);
}
#settingsOptions p{
    font: 500 var(--font-size-S) var(--font1);
    padding: 10px;
    border-radius: 10px 10px 0 0;
}
#calendar{
    width: 100%;
   display: flex;
   flex-direction: column;
   background-color: var(--color1);
}
#calendar .day{
    width: 100%;
   display: grid;
   grid-template-columns:1fr 1fr 6fr;
}
#calendar .day>div{
   border-bottom: 1px solid var(--color3);
   padding: 5px 0;
   text-align: center;
   font-size: var(--font-size-M);
}
#calendar hr{
    flex-grow: 1;
    height: 1px;
    border: none;
    background-color: var(--shade3);
}
#calendar p{
    padding: 0 5px;
}
#calendar .day>div{
   border-bottom: 1px solid var(--color3);
   padding: 5px 0;
   text-align: center;
   font-size: var(--font-size-M);
}
.dayCounter ,.dayName{
   min-width: 10vw;
   display: flex;
   justify-content: center;
   align-items: center;
}
.day .dayExercises{
    flex-grow: 1;
    display: grid;
    grid-template-columns:repeat(2 ,1fr);
    column-gap: 10px;
}
.day .dayExercises:is(.empty){
    grid-template-columns:1fr;
}
.dayExercises>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dayExercises .calenadarBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dayExercises .calenadarBtns>svg{
    cursor: pointer;
}
#editProfileAncorBtn{
    font-size: var(--font-size-M);
    border-radius: 10px;
    border: 1px solid var(--color3);
    padding: 5px 20px;
    transition: all .2s ease-in-out;
}
#editProfileAncorBtn:is(:hover ,:focus){
    border: 1px solid var(--color4);
    background-color: var(--shade2);
}