/* break ponts for all pages */
@media (width<1200px){
    /* root */
    :root{
        --font-size-B:28px;
        --font-size-M:23px;
    }
    /* gym */
    #musclesForm {
        width: 70%;
    }
    #nameForm {
        width: 70%;
    }
    .exercise {
        padding: 0 10px;
    }
    .exerciseInfo>img {
        min-width: 15%;
        max-width: 15%;
    }
    .exerciseInfo .loadingMuscleImg {
        min-width: 15%;
        max-width: 15%;
    }
    /* exercise focus */
    #exerciseContainer>#muscleInfo {
        width: 65%;
    }
    #exerciseContainer>#muscleImages {
        width: 35%;
    }
    /* components */
    #logoContainer img {
        width: 30px;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        gap:10px ;
    }
    footer>div{
        width: 100%;
    }
    #contactForm{
        grid-column: 1/-1;
    }
    #contactForm form {
        width: 100%;
    }
    #links {
        justify-content: center;
    }
    #addingContent>.dayContainer{
        flex-wrap: wrap;
    }
}
@media (width<992px){
    /* root */
    :root{
        --font-size-B:25px;
        --font-size-M:20px;
    }
    /* home */
    .introBlock {
        width: 30%;
    }
    .textSide p {
        line-height: 23px;
    }
    .columnNum{
        font-size: 300px;
    }
    /* people */
    .userDetails>img {
        width: 60px;
    }
    /* gym */
    #musclesForm {
        width: 85%;
    }
    #nameForm {
        width: 85%;
    }
    .exercise * {
        font-size: calc(var(--font-size-M) - 4px);
    }
    /* profile */
    #profilePage section {
        padding: 20px;
    }
    #calendar .day>div:nth-child(3){
        grid-template-columns: 1fr;
    }
    #calendar .day {
        grid-template-columns: 1fr 1fr 3fr;
    }
    /* settings */
    #settingsPage input[type=text] {
        font-size: var(--font-size-S);
    }
    .inputContainer * {
        display: flex;
        align-items: center;
        font-size: var(--font-size-S);
    }
    #nameInputContainer svg {
        font-size: var(--font-size-S);
    }
    #changePasswordForm button {
        font-size: var(--font-size-S);
    }
    #deleteAcountForm button {
        font-size: var(--font-size-S);
    }
    /* exercise focus */
    #squares>span {
        width: 5%;
    }
    #exerciseContainer>#muscleInfo {
        width: 60%;
    }
    #exerciseContainer>#muscleImages {
        width: 40%;
    }
    #signingPageMain #formsSection {
        gap: -1px;
    }
    /* signing page */
    #siteDetails img {
        width: 50px;
    }
    #siteDetails {
        gap: 10px;
    }
    #signingPageMain #formsSection {
        padding: 20px 0 10px 0  ;
    }
    #siteDetails p {
        text-align: left;
        font-size: calc(var(--font-size-S) + 1px);
    }
    /* components */
    footer{
        grid-template-columns:2fr 1fr ;
    }
    #links {
        justify-content: space-between;
    }
    #addWorkout {
        min-width: 60vw;
    }
    #addWorkout>svg {
        font-size: 30px;
    }
}
@media (width<768px){
    /* root */
    :root{
        --font-size-B:22px;
        --font-size-M:17px;
    }
    /* home */
    #heroImage {
        display: none;
    }
    #heroSection {
        min-height: 55vh;
        padding: 0 40px;
    }
    #heroContent {
        width: 100%;
    }
    .imageSide{
        display: none;
    }
    .textSide {
        width: 100%;
    }
    .columnNum{
        font-size: 200px;
    }
    .textSide p {
        line-height: 17px;
    }
    /* people */
    .userDetails>img {
        width: 55px;
    }
    /* gym */
    #searchSection {
        padding: 20px;
    }
    #searchSection>div {
        width: 44%;
    }
    #musclesForm {
        width: 100%;
    }
    #nameForm {
        width: 100%;
    }
    /* profile */
    #profileIntro{
        grid-template-columns: 1fr 3fr 2fr;
        row-gap: 10px;
    }
    #moreInfoContainer{
        grid-column: 1/-1;
        width: 100%;
        background-color:var(--shade1) ;
        border-radius: 12px;
        display: grid;
        place-items: center;
    }
    /* settings */
    #priorirtyTwo>#inputsContainer {
        grid-template-columns: repeat(1 ,1fr);
    }
    /* signing page */
    #signingPageMain #backgroundSection {
        width:45%;
        border-radius: 40px 0 0 40px;
    }
    #signingPageMain #backgroundSection img {
        border-radius: 40px 0 0 40px;
    }
    #signingPageMain #formsSection {
        width: 55%;
    }
    #siteDetails p {
        font-size: calc(var(--font-size-S) + 3px);
    }
    /* components */
    header:is(.fixed) {
        opacity: 1;
        transform: translateY(0%);
        animation: none;
    }
    header nav {
        display: none;
    }
    #technicalLinks a{
        display: none;
    }
    #technicalLinks a:has(svg) {
        display: none;
    }
    footer{
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    #links {
        justify-content: space-evenly;
    }
    #sideBarToggle{
        display: block;
    }
    #addWorkout {
        min-width: 70vw;
    }
}
@media (width<576px){
    /* root */
    :root{
        --font-size-B:20px;
        --font-size-S:15px;
    }
    /* home */
    #heroSection {
        padding: 0 15px;
    }
    #introBlocks {
        flex-wrap: wrap;
        width: 90%;
    }
    .introBlock {
        min-width: 40%;
        flex-grow: 1;
    }
    /* people */
    #usersContainer {
        grid-template-columns: 1fr;
    }
    #userSearchForm>input {
        padding: 10px 0 10px 8%;
    }
    #usersAcounts {
        padding: 10px 0;
    }
    .userDetails>img {
        width: 50px;
    }
    /* gym */
    #searchSection {
        flex-direction: column;
        gap: 10px;
    }
    #searchSection>div {
        width:65%;
    }
    #musclesForm {
        width: 100%;
    }
    #nameForm {
        width: 100%;
    }
    #resultsSection #intro h2 {
        padding: 0 10px;
    }
    .exerciseContainer {
        grid-template-columns: 1fr;
    }
    #resultsContainer {
        padding-bottom: 40px;
    }
    .exerciseInfo>img {
        min-width: 20%;
        max-width: 20%;
    }
    .exerciseInfo .loadingMuscleImg {
        min-width: 20%;
        max-width: 20%;
    }
    .exercise * {
        font-size:var(--font-size-M);
    }
    /* profile */
    #profileIntro{
        column-gap: 10px;
    }
    #profilePage section {
        padding: 10px;
    }
    #profileIntro img {
        width: 50px;
    }
    #profileIntro {
        grid-template-columns: 1fr 2fr 1fr;
    }
    #profileGlmipse{
        grid-column: 2/-1;
    }
    #profileIntro button {
        grid-column: 1/3;
        width: 100%;
    }
    #moreInfoContainer {
        grid-column: 3/4;
        width: 100%;
    }
    #calendar .day {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid var(--shade5);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .day:nth-child(odd){
        background-color: #000;
    }
    .day:nth-child(even){
        background-color: #080808;
    }
    #calendar hr:only-child {
        position: relative;
        margin: 10px 0;
        overflow: visible;
    }
    #calendar hr:only-child::before{
        content: 'no exercises';
        position: absolute;
        top: 50%;
        right: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50% ,-50%);
        font-size: var(--font-size-M);
        background-color:var(--shade1);
    }
    .dayContainer {
        flex-wrap: wrap;

    }
    .dayContainer button {
        padding: 3px 5px;
        flex-grow: 1;
    }
    /* settings */
    #settingsSideBarSection{
        display: none;
    }
    #settingsMainContentSection{
        width: 100%;
    }
    #settingLinks{
        display: flex;
    }
    #priorirtyOne {
    grid-template-columns: 75px 1fr;
    }
    #priorirtyOne>:nth-child(1) {
        width: 75px;
    }
    /* exercise focus */
    #muscleImages>#squares {
        display: none;
    }
    #exerciseContainer{
        flex-direction: column;
    }
    #exerciseContainer>#muscleInfo {
        width: 100%;
    }
    #exerciseContainer>#muscleImages {
        width: 100%;
    }
    #exerciseContainer>section {
        min-height: fit-content;
    }
    #muscleImages>#imageScroller {
        position: fixed;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        width: 40vw;
        border-radius: 10px 0 0 0 ;
        aspect-ratio: 1/1;
    }
    #muscleImages>#imageScroller>div>p {
        font-size: var(--font-size-S);
        position: absolute;
        top: 0px;
        color: #000;
    }
    #exerciseContainer>#muscleInfo {
        padding: 10px;
    }
    #backLink {
        flex-direction: row-reverse;
        gap: 5px;
    }
    #backLink svg {
        transform: translateX(0%);
    }
    /* signing page */
    #signingPageMain #backgroundSection {
        display: none;
    }
    #signingPageMain #formsSection {
        width: 100%;
    }
    /* components */
    footer {
        padding: 70px 20px 10px 20px;
    }
    header {
        padding: 10px 20px;
    }
    #addWorkout {
        min-width: 90vw;
    }
    #loadingLineContent div span:nth-child(1) {
        display: none;
    }
    #loadingLineContent div span:nth-child(2) {
        display: none;
    }
    #loadingLineContent div span:nth-child(3) {
        display: none;
    }
    #loadingLineContent div span:nth-child(4) {
        display: none;
    }
    #loadingLineContent div span:nth-child(5) {
        display: none;
    }
    #loadingLineContent div span:nth-child(6) {
        display: none;
    }
    #loadingLineContent div span:nth-child(7) {
        display: none;
    }
    #loadingLineContent div span:nth-child(8) {
        display: none;
    }
    aside {
        min-width: 60vw;
    }
}
@media (width<450px){
    /* root */
    :root{
        --font-size-B:18px;
        --font-size-M:16px;
        --font-size-S:11px;
    }
    /* home */
    #introBlocks{
        flex-direction: column;
        gap: 20px;
    }
    .introBlock{
        width: 100%;
    }
    /* gym */
    .exerciseInfo {
        flex-direction: column;
        gap: 20px;
    }
    .exerciseInfo>p {
        text-align: center;
    }
    .exerciseInfo>img {
        min-width: 40%;
        max-width: 40%;
    }
    .exerciseInfo .loadingMuscleImg {
        min-width: 40%;
        max-width: 40%;
    }
    #searchSection>div {
        width:100%;
    }
    #musclesForm {
        width: 100%;
    }
    #nameForm {
        width: 100%;
    }
    #resultsContainer>button {
        width: 95%;
    }
    /* about */
    #textContainer {
        width: 100%;
        border-radius: 0;
        padding: 10px;
    }
    #aboutPage section{
        padding: 0;
    }
    /* profile */
    #profilePage section {
        padding: 0px;
        padding-top: 10px;
        gap: 5px;
    }
    #lightSettings{
        border-radius: 0px;
    }
    .infoContainer *:not(svg) {
        font-size:var(--font-size-S);
    }
    /* settings */
    #priorirtyOne {
        grid-template-columns: 50px 1fr;
    }
    #priorirtyOne>:nth-child(1) {
        width: 50px;
        gap: 10px;
    }
    /* exercise focus */
    #muscleInfo >div:not(#backLink) {
        padding: 10px 0;
    }
    /* signing page */
    #siteDetails h1 {
        font-size: calc(var(--font-size-B) + 2px);
    }
    #signingToPlatform div>svg {
        font-size: var(--font-size-B);
    }
    /* components */
    #technicalLinks img{
        display: none;
    }
    aside {
        min-width: 80vw;
    }
}