/* break ponts for all pages */
@media (width<1200px){
    /* root */
    :root{
        --font-size-B:28px;
        --font-size-M:23px;
    }
    /* gym */
    #musclesForm {
        width: 70%;
    }
    #nameForm {
        width: 70%;
    }
    .exercise {
        padding: 0 10px;
    }
    .exerciseInfo>img {
        min-width: 15%;
        max-width: 15%;
    }
    .exerciseInfo .loadingMuscleImg {
        min-width: 15%;
        max-width: 15%;
    }
    /* about */
    /* profile */
    /* settings */
    /* components */
}
@media (width<992px){
    /* root */
    :root{
        --font-size-B:25px;
        --font-size-M:20px;
    }
    /* home */
    .introBlock {
        width: 30%;
    }
    .textSide p {
        line-height: 23px;
    }
    .columnNum{
        font-size: 300px;
    }
    /* people */
    /* gym */
    #musclesForm {
        width: 85%;
    }
    #nameForm {
        width: 85%;
    }
    .exercise * {
        font-size: calc(var(--font-size-M) - 4px);
    }
    /* about */
    /* profile */
    /* settings */
    /* components */
}
@media (width<768px){
    /* root */
    :root{
        --font-size-B:22px;
        --font-size-M:17px;
    }
    /* home */
    #heroImage {
        display: none;
    }
    #heroSection {
        min-height: 55vh;
        padding: 0 40px;
    }
    #heroContent {
        width: 100%;
    }
    .imageSide{
        display: none;
    }
    .textSide {
        width: 100%;
    }
    .columnNum{
        font-size: 200px;
    }
    .textSide p {
        line-height: 17px;
    }
    /* people */
    /* gym */
    #searchSection {
        padding: 20px;
    }
    #searchSection>div {
        width: 44%;
    }
    #musclesForm {
        width: 100%;
    }
    #nameForm {
        width: 100%;
    }
    /* about */
    /* profile */
    /* settings */
    /* components */
    header nav {
        display: none;
    }
    #technicalLinks{
        display: block;
    }
    #technicalLinks svg{
        display: none;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
}
@media (width<576px){
    /* root */
    :root{
        --font-size-B:20px;
        --font-size-S:15px;
    }
    /* home */
    #heroSection {
        padding: 0 15px;
    }
    #introBlocks {
        flex-wrap: wrap;
        width: 90%;
    }
    .introBlock {
        min-width: 40%;
        flex-grow: 1;
    }
    /* people */
    #usersContainer {
        grid-template-columns: 1fr;
    }
    #userSearchForm>input {
        padding: 10px 0 10px 8%;
    }
    /* gym */
    #searchSection {
        flex-direction: column;
        gap: 10px;
    }
    #searchSection>div {
        width:65%;
    }
    #musclesForm {
        width: 100%;
    }
    #nameForm {
        width: 100%;
    }
    #resultsSection #intro h2 {
        padding: 0 10px;
    }
    .exerciseContainer {
        grid-template-columns: 1fr;
    }
    #resultsContainer {
        padding-bottom: 40px;
    }
    .exerciseInfo>img {
        min-width: 20%;
        max-width: 20%;
    }
    .exerciseInfo .loadingMuscleImg {
        min-width: 20%;
        max-width: 20%;
    }
    .exercise * {
        font-size:var(--font-size-M);
    }
    /* about */
    /* profile */
    /* settings */
    /* components */
}
@media (width<450px){
    /* root */
    :root{
        --font-size-B:18px;
        --font-size-M:16px;
        --font-size-S:14px;
    }
    /* home */
    #introBlocks{
        flex-direction: column;
        gap: 20px;
    }
    .introBlock{
        width: 100%;
    }
    /* people */
    /* gym */
    .exerciseInfo {
        flex-direction: column;
        gap: 20px;
    }
    .exerciseInfo>p {
        text-align: center;
    }
    .exerciseInfo>img {
        min-width: 40%;
        max-width: 40%;
    }
    .exerciseInfo .loadingMuscleImg {
        min-width: 40%;
        max-width: 40%;
    }
    #searchSection>div {
        width:100%;
    }
    #musclesForm {
        width: 100%;
    }
    #nameForm {
        width: 100%;
    }
    #resultsContainer>button {
        width: 95%;
    }
    /* about */
    #textContainer {
        width: 100%;
        border-radius: 0;
        padding: 10px;
    }
    #aboutPage section{
        padding: 0;
    }
    /* profile */
    /* settings */
    /* components */
    #technicalLinks img{
        display: none;
    }
}