/* break ponts for all pages */
@media (width<1200px){
    /* root */
    :root{
        --font-size-B:28px;
        --font-size-M:23px;
    }
    /* home */
    /* people */
    /* gym */
    /* about */
    /* profile */
    /* settings */
    /* components */
}
@media (width<992px){
    /* root */
    :root{
        --font-size-B:25px;
        --font-size-M:20px;
    }
    /* home */
    .introBlock {
        width: 30%;
    }
    .textSide p {
        line-height: 23px;
    }
    .columnNum{
        font-size: 300px;
    }
    /* people */
    /* gym */
    /* about */
    /* profile */
    /* settings */
    /* components */
}
@media (width<768px){
    /* root */
    :root{
        --font-size-B:22px;
        --font-size-M:17px;
    }
    /* home */
    #heroImage {
        display: none;
    }
    #heroSection {
        min-height: 55vh;
        padding: 0 40px;
    }
    #heroContent {
        width: 100%;
    }
    .imageSide{
        display: none;
    }
    .textSide {
        width: 100%;
    }
    .columnNum{
        font-size: 200px;
    }
    .textSide p {
        line-height: 17px;
    }
    /* people */
    /* gym */
    /* about */
    /* profile */
    /* settings */
    /* components */
    header nav {
        display: none;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
}
@media (width<576px){
    /* root */
    :root{
        --font-size-B:20px;
        --font-size-S:15px;
    }
    /* home */
    #heroSection {
        padding: 0 15px;
    }
    #introBlocks {
        flex-wrap: wrap;
        width: 90%;
    }
    .introBlock {
        min-width: 40%;
        flex-grow: 1;
    }
    /* people */
    #usersContainer {
        grid-template-columns: 1fr;
    }
    #userSearchForm>input {
        padding: 10px 0 10px 8%;
    }
    /* gym */
    /* about */
    /* profile */
    /* settings */
    /* components */
}
@media (width<450px){
    /* root */
    :root{
        --font-size-B:18px;
        --font-size-M:16px;
        --font-size-S:14px;
    }
    /* home */
    #introBlocks{
        flex-direction: column;
        gap: 20px;
    }
    .introBlock{
        width: 100%;
    }
    /* people */
    /* gym */
    /* about */
    /* profile */
    /* settings */
    /* components */
}