#signingPageMain{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--shade1);
    max-height: 100vh;
    overflow: hidden;
}
#signingPageMain *:not(input){
    text-align: center;
}
#signingPageMain section{
    height: 100%;
}
.formsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
#signingPageMain #formsSection{
    width: 40%;
    background-color: var(--shade1);
    display: flex;
    flex-direction: column;
    padding-top:30px;
    gap:60px;
    align-items: center;
    min-height: 100vh;
}
#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
#intro img{
    width: 60px;
}
#intro h1{
    font:500 var(--font-size-B) var(--font1);
    letter-spacing: -3px;
}
#intro p{
    font-size:var(--font-size-S);
}
.signingIdentifier{
    font-size: var(--font-size-B);
}
.signingInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.signingForm{
    width:90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}
.signingForm h2{
    font-size: 20px;
}
.signingForm p{
    font-size: 13px;
}
.signingForm input{
    width: 100%;
    padding: 5px 10px;
    background-color: var(--shade1);
    border: 2px solid var(--color2);
    border-radius: 8px;
    outline: none;
    font-size: var(--font-size-S);
}
.signingForm input:is(:hover ,:focus){
    background-color: var(--shade2);
    border: 2px solid var(--color3);
}
.signingForm button[type='submit']{
    font-family: var(--font1);
    width: 100%;
    padding: 5px 10px;
    background-color: var(--color1);
    border-radius: 8px;
}
.signingForm button[type='submit']:is(:hover ,:focus){
    background-color: var(--color2);
}
.passwordInput{
    position: relative;
    width: 100%;
}
.passwordInput input{
    padding-right: 55px;
}
.passwordInput svg{
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 0;
    transform: translate(-50% ,-50%);
}
.passwordInput p{
    position: absolute;
    top: 50%;
    right: 23px;
    transform: translate(-50% ,-50%);
    font-size: 15px;
}
.switchSignInMethod a{
    font-size: 18px;
    font-weight: 700;
}
#signingPageMain #backgroundSection{
    width: 60%;
    border-radius: 60px 0 0 60px;
    padding: 0;
    overflow: hidden;
    position: relative;
}
/* to be worked on */
#signingPageMain #backgroundSection img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: 60px 0 0 60px;
    filter:brightness(.5) grayscale(1) hue-rotate(120deg);
}
/* end */
#introToSite{
    width: 90%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#siteDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
#siteDetails img{
    width: 70px;
}
#siteDetails h1{
    font:600 var(--font-size-B) var(--font1);
}
#siteDetails h2{
    font-size: var(--font-size-M);
    color: var(--color3);
}
#siteDetails p{
    text-align: left;
    font-size: calc(var(--font-size-S) + 3px);
}
#siteDetails p>span{
    font-family: var(--font1);
    color: var(--color3);
    margin-left: 5px;
    cursor: pointer;
}
#signingToPlatform{
    min-height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#signingToPlatform p{
    font-size: calc(var(--font-size-S) + 5px);
}
#signingToPlatform div{
    font-size: var(--font-size-M);
    display: flex;
    align-items: center;
    gap: 10px;
}
#signingToPlatform div>svg{
    cursor: pointer;
}