@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

:root{
  --shade1:#111;
  --shade2:#222;
  --shade3:#333;
  --shade4:#444;
  --shade5:#555;
  --color1:#000;
  --color2:#f00;
  --color3:#ff3838;
  --color4:rgb(200,100,80);
  --font1:'Lexend Mega', sans-serif;
  --font2:'Spinnaker', sans-serif;
  --font-size-B:30px;
  --font-size-M:25px;
  --font-size-S:15px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font2);
}
::selection{
  background-color: var(--color2);
}
*:is(p ,div ,span ,a ,button ,input ,select){
  color: #fff;
}
.btnStyle1{
  background: linear-gradient(130deg ,var(--color2) 93% ,transparent 90%);
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--shade3);
  overflow-x: hidden;
}
button{
  cursor: pointer;
  background-color: transparent;
  border: none;
}
a{
  text-decoration: none;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--shade5);
}
::-webkit-scrollbar-thumb{
  background-color: var(--color2);
  border-radius: 30px;
}
::scro
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--shade5);
}
::-webkit-scrollbar-thumb{
  background-color: var(--color2);
  border-radius: 30px;
}
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: var(--color1);
}
#logoContainer{
display: flex;
align-items: center;
gap: 5px;
cursor: pointer;
}
#logoContainer img{
width: 37px;
}
#logoContainer p{
font-size: 30px;
letter-spacing: 2px;
font-family: var(--font1);
}
header nav{
  display: flex;
  gap:30px;
  height: 30px;
}
header nav a{
  font-size: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  overflow: hidden;
}
header nav a >.ancorContent{
  transition: transform .3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.ancorContent svg{
  font-size:25px;
}
header nav a:is(:hover ,:focus) >.ancorContent{
  transform: translateY(-30px);
}
header nav a:is(.active) .ancorContent *{
  color: var(--color2);
}
.userAcount img{
width: 40px;
border-radius: 50%;
}
.userAcount .settings{
  min-width: 230px;
}
.userAcount .setting{
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 0 4px;
}
.userAcount .setting>div>svg{
  font-size: 18px;
  cursor: pointer;
}
.userAcount .setting>div>svg:is(:hover ,:focus){
  color: var(--color3);
}
.userAcount button{
width: 100%;
background-color: var(--color1);
border: none;
padding: 5px 0;
border-radius: 5px;
}
.userAcount button:is(:hover ,:focus){
background-color: var(--color2);
}
#technicalLinks{
  display: flex;
  align-items: center;
  gap: 30px;
}
#technicalLinks *{
  cursor: pointer;
}
#technicalLinks a:has(svg){
  font-size: 35px;
  display: grid;
  place-items: center;
  transition: transform .3s ease-in-out;
}
#technicalLinks a:has(svg):is(:hover){
transform: rotate(90deg);
}
#technicalLinks img{
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
main{
  width: 100%;
  min-height: 90vh;
}
section{
  padding: 30px 0;
}
section:nth-child(odd){
  background-color: #050505;
}
section:nth-child(even){
  background-color:#030303;
}
footer{
  width: 100%;
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  font: 400 30px var(--font1);
  padding: 10px 0;
}
/* error popup */
#errorPopUp{
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: var(--color3);
  z-index: 9;
  transition: transform .3s ease-out;
}
#errorPopUp p{
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 5px 0;
}
/* loading screen */
#loadingLine{
  position: fixed;
  bottom: 0px;
  min-width: 100vw;
  height: 50px;
  background-color: var(--color1);
  transition: transform .2s ease-out;
  z-index: 10;
  box-shadow: 0 0 10px 2px var(--shade5);
}
#loadingLineContent{
  display: flex;
  overflow: hidden;
}
#loadingLineContent>img{
  width: 50px;
  background-color: var(--color1);
  z-index: 2;
}
#loadingLineContent div{
  width:120vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#loadingLineContent div span{
  animation: pac-man 2s linear infinite;
  width: 10%;
}
#loadingLineContent div span img{
  width:15px;
}
@keyframes pac-man {
  0%{
    transform: translateY(10px) translateX(0%);
  }
  100%{
    transform:translateY(10px) translateX(-300%);
  }
}
#addWorkout{
  background-color:rgba(51, 51, 51, .3);
  position: fixed;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
  min-width:40vw;
  height: fit-content;
  transform: translate(-50% ,-50%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 10px;
}
#addingContent{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
#addWorkout>svg{
  position: fixed;
  top: 10px;
  right: 20px;
  color: red;
  font-size: 40px;
  cursor: pointer;
}
.dayContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.dayContainer button{
  font-size: var(--font-size-S);
  padding: 3px 10px;
  background-color: var(--shade5);
  border-radius: 5px;
  cursor: pointer;
}
.dayContainer button:is(:hover ,:focus){
  background-color: var(--shade3);
}