@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

:root{
  --shade1:#111;
  --shade2:#222;
  --shade3:#333;
  --shade4:#444;
  --shade5:#555;
  --color1:#000;
  --color2:#f00;
  --color3:#ff3838;
  --color4:rgb(200,100,80);
  --font1:'Lexend Mega', sans-serif;
  --font2:'Spinnaker', sans-serif;
  --font-size-B:30px;
  --font-size-M:25px;
  --font-size-S:15px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font2);
}
::selection{
  background-color: var(--color2);
}
*:is(p ,div ,span ,a ,button ,input ,select ,textarea){
  color: #fff;
}
.btnStyle1{
  background: linear-gradient(130deg ,var(--color2) 93% ,transparent 90%);
}
html{
  overflow-x: hidden;
  
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--shade3);
  overflow-x: hidden;
}
button{
  cursor: pointer;
  background-color: transparent;
  border: none;
}
a{
  text-decoration: none;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--shade5);
}
::-webkit-scrollbar-thumb{
  background-color: var(--color2);
  border-radius: 30px;
}
::scro
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--shade5);
}
::-webkit-scrollbar-thumb{
  background-color: var(--color2);
  border-radius: 30px;
}
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: var(--color1);
  z-index: 9;
}
header:is(.fixed){
  position: fixed;
  top: 0px;
}
#logoContainer{
display: flex;
align-items: center;
gap: 5px;
cursor: pointer;
}
#logoContainer img{
width: 37px;
}
#logoContainer p{
font-size: var(--font-size-B);
letter-spacing: 2px;
font-family: var(--font1);
}
header nav{
  display: flex;
  gap:30px;
  height: 30px;
}
header nav a{
  font-size: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  overflow: hidden;
}
header nav a >.ancorContent{
  transition: transform .3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.ancorContent svg{
  font-size:25px;
}
header nav a:is(:hover ,:focus) >.ancorContent{
  transform: translateY(-30px);
}
header nav a:is(.active) .ancorContent *{
  color: var(--color2);
}
.userAcount img{
width: 40px;
border-radius: 50%;
}
.userAcount .settings{
  min-width: 230px;
}
.userAcount .setting{
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 0 4px;
}
.userAcount .setting>div>svg{
  font-size: 18px;
  cursor: pointer;
}
.userAcount .setting>div>svg:is(:hover ,:focus){
  color: var(--color3);
}
.userAcount button{
width: 100%;
background-color: var(--color1);
border: none;
padding: 5px 0;
border-radius: 5px;
}
.userAcount button:is(:hover ,:focus){
background-color: var(--color2);
}
#technicalLinks{
  display: flex;
  align-items: center;
  gap: 30px;
}
#technicalLinks *{
  cursor: pointer;
}
#sideBarToggle{
  width: 35px;
  aspect-ratio: 1/1;
  position: relative;
  display: none;
  z-index: 11;
}
#sideBarToggle>span{
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0px;
  background-color: var(--shade1);
  transition: all .3s ease-in-out;
  border-radius: 2px;
}
#sideBarToggle>span:nth-child(1){
  top: 30%;
}
#sideBarToggle>span:nth-child(2){
  bottom: 30%;
}
/* #sideBarToggle:is(.toggled)>span{
  top: 50%;
  bottom: 50%;
} */
#sideBarToggle:is(.toggled)>span:nth-child(1){
  transform: rotate(45deg) translateY(8px);
}
#sideBarToggle:is(.toggled)>span:nth-child(2){
  transform: rotate(-45deg) translateY(-8px);
}
#technicalLinks a:has(svg){
  font-size: 35px;
  display: grid;
  place-items: center;
  transition: transform .3s ease-in-out;
}
#technicalLinks a:has(svg):is(:hover){
transform: rotate(90deg);
}
#technicalLinks img{
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
main{
  width: 100%;
  min-height: 90vh;
}
section{
  padding: 30px 0;
}
section:nth-child(odd){
  background-color: #050505;
}
section:nth-child(even){
  background-color:#030303;
}
/* error popup */
#errorPopUp{
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: var(--color3);
  z-index: 9;
  transition: transform .3s ease-out;
}
#errorPopUp p{
  width: 100%;
  font-size: var(--font-size-M);
  text-align: center;
  padding: 5px 0;
}
/* sidebar */
aside{
  height: 100vh;
  min-width: 40vw;
  position: fixed;
  overflow: scroll;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  transition: transform .3s ease-out;
  padding-top: 40px;
  background-color: #ff383881;
  backdrop-filter: blur(10px);
  z-index: 10;
}
#sideBarContent{
  display: flex;
  flex-direction: column;
}
#sideBarContent a ,summary{
  font-size: var(--font-size-B);
  padding: 12px 10px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
#sideBarContent>a>img{
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
#sideBarContent a::before{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  transform: translateX(-100%);
  background-color: var(--color2);
  z-index: -1;
  transition: transform .3s ease-out;
}
#settingLinks{
  flex-direction: column;
  display: none;
}
#sideBarContent a:is(:hover ,:focus ,.active)::before{
  transform: translateX(0%);
}
/* loading screen */
#loadingLine{
  position: fixed;
  bottom: 0px;
  min-width: 100vw;
  height: 75px;
  background-color: var(--color1);
  transition: transform .2s ease-out;
  z-index: 10;
  box-shadow: 0 0 10px 2px var(--shade5);
}
#loadingLineContent{
  display: flex;
  overflow: hidden;
}
#loadingLineContent>img{
  width: 75px;
  background-color: var(--color1);
  z-index: 2;
}
#loadingLineContent div{
  width:120vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#loadingLineContent div span{
  animation: pac-man 2s linear infinite;
  width: 10%;
}
#loadingLineContent div span img{
  width:22px;
}
@keyframes pac-man {
  0%{
    transform: translateY(10px) translateX(0%);
  }
  100%{
    transform:translateY(10px) translateX(-300%);
  }
}
#addWorkout{
  background-color:rgba(51, 51, 51, .3);
  position: fixed;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
  min-width:40vw;
  height: fit-content;
  transform: translate(-50% ,-50%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 10px;
  z-index: 3;
  border-radius: 12px;
}
#addingContent{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
#addWorkout>svg{
  position: fixed;
  top: 10px;
  right: 20px;
  color: red;
  font-size: 40px;
  cursor: pointer;
}
.dayContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.dayContainer button{
  font-size: var(--font-size-S);
  padding: 3px 10px;
  background-color: var(--shade5);
  border-radius: 5px;
  cursor: pointer;
}
.dayContainer button:is(:hover ,:focus){
  background-color: var(--shade3);
}
footer{
  width: 100%;
  background-color: var(--color1);
  display: flex;
  padding: 70px 30px 10px 30px;
  justify-content: space-between;
}
#signature{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#signatureLogo{
  display: flex;
  align-items: center;
  gap: 3px;
}
#signatureLogo img{
  width: 23px;
}
#signatureLogo p{
  font: 700 23px var(--font1);
}
#FooterAncors{
  font-size: 18px;
}
#FooterAncors a:is(:hover ,:focus ,.active){
  color: var(--color3);
}
#copyRight{
  font-size: 14px;
  opacity: .6;
}
#copyRight>span{
  font-weight: 600;
}
#links{
  display: flex;
  gap: 30px;
}
#links>.linkSection{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#links>.linkSection h3{
  font-size: 20px;
  position: relative;
  margin-bottom: 10px;
  width: fit-content;
}
#links>.linkSection h3::before{
  content: '';
  position: absolute;
  top: calc(100% + 2px);
  width: 50%;
  height: 2px;
  background-color: var(--color3);
}
#links>.linkSection p{
  font-size: 14px;
  opacity: .8;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
#links>.linkSection p:is(:hover ,:focus){
  opacity: 1;
  transform:translateX(10px) ;
}
#contactForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#contactForm form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#contactForm form div{
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
}
#contactForm div *{
  font-size: 18px;
}
#contactForm form div>:nth-child(2){
  background-color: var(--color1);
  border: none;
  border-bottom: 1px solid var(--color3);
  flex-grow: 1;
  outline: none;
}
#contactForm textarea{
  resize: none;
}
#contactForm form button{
  background-color: var(--color2);
  font-size: 18px;
}
#contactForm form div>:nth-child(2):is(:hover ,:focus){
  border-bottom: 1px solid var(--color2);
}
#platforms{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
#platforms >div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#platforms .platform{
  font-size: 20px;
  cursor: pointer;
}
#platforms .platform:is(:hover ,:focus){
  color: var(--color3);
}